{% extends "base.jinja" %} {% block content %}
<main class="container catalogue">
    <section class="catalogue__left">
        <h1 class="catalogue__header">Enjoy perusing our book catalogue</h1>
        <ul class="card__container">
            {% for book in books %}
                <li>
                    <div class="card">
                        <img class="card__image" src="/static/images/book.png">
                        <div class="card__container">
                            <h4 class="card__title"><a href="/catalogue/{{book.id}}">{{ book.title }}</a></h4>
                            <p class="card__author">{{ book.author }}</p>
                            <p class="card__genre">{{ book.genre }}</p>
                                {% if book.checked_out == True %}
                                    <p>This book is currently checked out.</p>
                                {% endif %}   
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="catalogue__right">
        <div class="donation">
           <h2 class="donation__header">Donate your book today!</h2> 
           <form class="donationform" action="/catalogue", method="post">
                <label for="title_of_book">Title of Book</label>
                <input type="text" name="title_of_book" id="title_of_book" required>
                <label for="author_of_book">Author</label>
                <input type="text" name="author_of_book" id="author_of_book" required>
                <label for="genre_of_book">Genre</label>
                <input type="text" name="genre_of_book" id="genre_of_book" required>
                <label for="description">Description</label>
                <textarea name="description" id="description" required></textarea>
                <label for="submit">Donate!</label>
                <input type="submit" value="Donate Book">
            </form>
        </div>
    </section>
</main>

{% endblock %}