{% extends "base.jinja" %} {% block content %}
<main>
    <section class="container home__page">
        <div class="home">
            <h1 class="home__header">Welcome to {{ title }}</h1>
            <p class="home__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum dolor ex, in sollicitudin sem tristique nec. Aliquam interdum diam eu mauris elementum, eget pellentesque neque pellentesque. Curabitur arcu tellus, consectetur quis diam et, facilisis auctor eros. Nam vulputate neque commodo elit mollis, sit amet vulputate justo lobortis. Proin lacinia turpis vel semper ultricies.  </p>
            <div class="home__buttons">
                <button class="home__button"><a href="/catalogue" style="text-decoration:none">See our Catalogue</a></button>
            </div>
        </div>
        <div class="info">
            <div class="info__top">
                <h2 class="info__header">Contact us!</h2>
                <p class="info__social">edinburgh.central.library@gov.uk</p>
                <p class="info__social">Twitter</p>
                <p class="info__social">Instagram</p>
            </div>
            <div class="info__address">
                <p>Postal address:</p>
                <p>27 St.James Square</p>
                <p>EH2 4RQ</p>
                <p>Edinburgh</p>
                <p>Scotland</p>  
            </div>                     
        </div>
    </section>
</main>
{% endblock %}